#getStartedContainer,
#connectPannel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  max-width: 100%;
  padding-left: 100px;
}

#gettingStartedWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  padding: 30px 40px 50px 40px;
  margin-right: 10px;
}

#startBtnsWrapper,
#spacingButton {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

#brandImg {
  width: 70%;
}